<div class="modal-backdrop"></div>
<div class="modal">
	<h2>Connect to an Anonymous ChatRoom</h2>
	<form>
		<div class="control-group">
			<label>Host:Port</label>
			<div class="controls">
				<input type="text" placeholder="Type a host:port" name="server">
			</div>
		</div>
		<div class="control-group">
			<label>Nick</label>
			<div class="controls">
				<input type="text" placeholder="Type a nickname" name="nick">
			</div>
		</div>
		<div class="control-group">
			<label>Room</label>
			<div class="controls">
				<input type="text" placeholder="Leave this blank for a new one" name="room">
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button class="btn" type="submit">Connect</button>
			</div>
		</div>
	</form>
</div>
