<div class="message">
	<strong>Yoy have joined the room:&nbsp;</strong>
	<p>
		{{id}}<br>
		Copy&amp;paste this link with whomever you wanna chat:<br>
		<input style="width:480px" type="text" onchange="$(this).val($(this).attr('placeholder'))" placeholder="{{link}}" value="{{link}}" onclick="this.select()" />
	</p>
</div>
