<header>
	WebChat
</header>
<div id="aside">
	<menu id="buddies"></menu>
	<div id="user">
		<img class="webcam" /><br>
		<i class="icon-user"></i> <span></span>
	</div>
</div>
<section></section>
<form id="messageBox">
	<textarea class="input-block-level" name="message"></textarea>
</form>
{{>modal}}
