<header>
	WebChat
</header>
<div id="aside">
	<menu id="buddies"></menu>
	<div id="user">
		<img class="webcam" src="{{defaultSrc}}" /><br>
		<a class="pull-right videoeffects">
			<i class="icon-cog"></i>
		</a>
		<i class="icon-user"></i> <span></span>
		<form id="videoeffects">
			<label class="checkbox"><input type="checkbox" name="grayscale" /> Grayscale</label>
			<label class="checkbox"><input type="checkbox" name="sepia" /> Sepia</label>
			<label class="nm">Noise:</label> <input type="range" name="noise" min="0" max="255" />
		</form>
	</div>
</div>
<section></section>
<form id="messageBox">
	<textarea class="input-block-level" name="message"></textarea>
</form>
{{>modal}}
